
.home-content {
    margin-top: -150px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: none;
    color: #130f40;
  }
  
.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #08456B;
  }
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: #ff7800;
  }
  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  #category-product {
    color: var(--black);
    display: inline-block;
    width: 100%;
    padding: 8px 20px;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  form .button {
    height: 45px;
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  form .button .back,
  form .button input {
    width: 40%;
    border-radius: 5px;
    border: 0.1rem solid #130f40;
    color: #130f40;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: none;
  }
  .button .back a {
    display: flex;
    color: #130f40;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
  }
  
  .button .back:hover {
    color: white;
    background: var(--blue);
  }
  form .button input:hover {
    color: white;
    background: #08456B;
  }
  
  .back {
    display: flex;
    justify-content: center;
    color: var(--black);
    padding: 10px;
    text-decoration: none;
  }
  
  .back:hover {
    color: var(--blue);
  }
  
  @media (max-width: 584px) {
    .container {
      max-width: 100%;
    }
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
      width: 5px;
    }
  }
  